{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--나눔고딕-->
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
<!--오류 발생 알람메시지-->
{% if messages %}
    {% for message in messages %} 
        <script>alert("{{message}}");</script>
    {% endfor %}
{% endif %}
<!--알람 끝-->
</head>
<body style="background-color: #F5F6F7;">
<div id="mainwidth" >
    <nav class="site-header sticky-top" style="background-color:#4d4d4d; padding-top:8px; padding-bottom:8px;">
        <div class="container">
            <div class="row">
                <div class="col-md-2" onclick="location.href='{% url 'DanTalkMain:main' %}'">
                    <label style="color:white; font-size:25px; cursor:pointer;">단톡방</label><label style="font-size:10px; color:white;">BETA</label>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-4" style="padding-top:5px;">
                    {% if request.session.rank == '1' %}
                        <button type="button" class="btn btn-sm" style="background-color:#1E90FF;" onclick="location.href='{% url 'DanTalkMain:admin_main' %}'">관리자</button>
                        <button type="button" class="btn btn-light btn-sm" onclick="location.href='{% url 'DanTalkMain:logout' %}'">로그아웃</button>
                    {% elif request.session.dantalk_id %}
                        <a style="color:#FFFFFF; cursor:pointer;" href="{% url 'DanTalkMain:to_usr_pw_modify' %}">{{request.session.dantalk_id}}님 </a>
                        <button type="button" class="btn btn-sm" style="background-color:#FFFF33;" onclick="location.href='{% url 'DanTalkMain:to_add_friend_list' %}'">친구 관리</button>
                        <button type="button" class="btn btn-sm" style="background-color:#1E90FF;" onclick="location.href='{% url 'DanTalkMain:index' %}'">대화방 관리</button>
                        <button type="button" class="btn btn-light btn-sm" onclick="location.href='{% url 'DanTalkMain:logout' %}'">로그아웃</button>
                    {% else %}
                        <button type="button" class="btn btn-light btn-sm" style="margin-left:40px;" onclick="location.href='{% url 'DanTalkMain:loginpage' %}'">로그인</button>
                        <button type="button" class="btn btn-sm" style="background-color:#FFFF33;" onclick="location.href='{% url 'DanTalkMain:toSignUp' %}'">회원가입</button>
                    {% endif %}
                </div>
            </div>        
        </div>
    </nav>
    <div class="container">
        <label style="font-size:55px; font-weight:600; margin-top:20px;">대화방 관리</label>
        <div class="row">
            <div class="col-md-4" style="margin-top:50px;">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col" style="font-size:33px;">대화방 목록</th>
                    </tr>
                </thead>
                <tbody style="background-color:#DCDCDC; text-align:center;">
                    <tr>
                    {% if dantalkroom_list == "대화방 없음"%}
                    <tr>
                        <td>{{dantalkroom_list}}</td>
                    </tr>
                    {% else %}
                        {% for dantalkroom in dantalkroom_list %}
                        <tr>
                            <td id="td{{dantalkroom.DanTalkRoom_ID}}"><a style="color:black; font-size:20px;"href="{% url 'DanTalkMain:connectDanTalk' dantalkroom.DanTalkRoom_ID %}">{{dantalkroom.DanTalkRoom_Name}}</a><button type="button" id="button{{dantalkroom.DanTalkRoom_ID}}" onclick="dantalk_delete(this.id)" class="btn btn-danger" style="margin-left:10px;">나가기</button></td>
                        </tr>    
                        {% endfor %}
                    {% endif %}  
                </tbody>
            </table>
            <button type="button" onclick="dantalk_block()" id="block_button" class="btn" style="background-color:#DCDCDC; margin-left:235px;">대화방 추가</button>
            <button type="button" onclick="dantalk_none()" id="none_button" class="btn" style="background-color:#DCDCDC; margin-left:200px; display:none;">대화방 추가 취소</button>    
            </div>
            <div class="col-md-5" id="block_dantalk_add" style="margin-top:50px; display:none;">
                <div class="form-group" style="font-size:20px; font-weight:600;">
                    <label>대화방 제목 입력<input type="text" id="dantalk_name" name="dantalk_name" style="position:relative; left:1%; width:280px; height:50px;" placeholder="대화방 제목을 입력해주세요"></label>
                    <label>대화방 인원 추가</label>
                    <input type="text" id="friend_find" name="friend_find" style="position:relative; left:1%; width:350px; height:50px;" placeholder="친구 ID를 입력해주세요">
                    <img src="{% static 'DanTalkMain/img/searching.png'%}" id="search" style="position:relative; width:50px; height:50px; cursor:pointer;">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                            <th scope="col" style="font-size:33px;">친구목록</th>
                            </tr>
                        </thead>
                        <tbody id="find_friend_result" style="background-color:#DCDCDC; text-align:center;">  
                            {% if friend_list == "친구 없음"%}
                            <tr>
                                <td>{{friend_list}}</td>
                            </tr>
                            {% else %}
                                {% for friend in friend_list %}
                                <tr>
                                    <td id="td{{friend.id}}">{{friend.Friend_ID}}<label><input type="checkbox" name="checkbox_value" value="{{friend.Friend_ID}}" style="margin-left:15px;"></label></td>
                                </tr>    
                                {% endfor %}
                            {% endif %}  
                        </tbody>
                    </table> 
                    <button type="button" onclick="dantalk_add()" id="block_button" class="btn" style="background-color:#DCDCDC; margin-left:333px;">대화방 추가</button>  
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function dantalk_block(){
        var block_style = document.getElementById("block_dantalk_add");
        var block_button = document.getElementById("block_button");
        var none_button = document.getElementById("none_button");
        none_button.style.display = 'block'
        block_button.style.display = 'none'
        block_style.style.display = 'block'
    }
    function dantalk_none(){
        var block_style = document.getElementById("block_dantalk_add");
        var block_button = document.getElementById("block_button");
        var none_button = document.getElementById("none_button");
        none_button.style.display = 'none'
        block_button.style.display = 'block'
        block_style.style.display = 'none'
    }
    $("#search").click(function() {
        var friend_id = $("#friend_find").val();
        $.ajax({
            type : "POST",
            url : "{% url 'DanTalkMain:findFriend' %}",
            data : {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'friend_id': friend_id,
                },
             success : function(response)
            {
                if(response.msg == 'Y')
                {
                    var addtrstart = "<tr>"
                    var addtrend = "</tr>"
                    var index = 1;
                    for(i=0; i<response.user_id_list.length; i++){
                        var addfriendidtd = "<td id='friend_id"+index+"'>"+response.user_id_list[i]+"<label><input name='checkbox_value' type='checkbox' value='"+response.user_id_list[i]+"' style='margin-left:15px;'></label></td>";
                        
                        addtrstart += addfriendidtd 
                        addtrstart += addtrend
                                            
                        document.getElementById("find_friend_result").innerHTML=addtrstart;
                                          
                        index=index+1;
                    }
                }else{
                    alert("검색한 ID가 존재하지 않습니다.");
                }
            },
            error : function(a, b, c)
            {
                alert(a + " " + b + " " + c);
            }
        });
    });
    function dantalk_add(){
        var values = document.getElementsByName("checkbox_value");
        var dantalk_name = $("#dantalk_name").val();
        var dantalk_list = "";
        for(i=0; i<values.length; i++){
            if(values[i].checked){
                dantalk_list = dantalk_list+","+values[i].value;
            }
        }
        $.ajax({
				type : "POST",
				url : "{% url 'DanTalkMain:dantalkAdd' %}",
				data : {
					'csrfmiddlewaretoken': '{{ csrf_token }}',
					'dantalk_list' : dantalk_list,
                    'dantalk_name' : dantalk_name,
				},
				success : function(response)
				{
					alert("대화방 추가 완료");
				},
                error : function(request, status, error ){
                    alert("대화방 추가 실패");
                },
		    });
    }

    function dantalk_delete(button_id){
        var friend_dantalk = button_id.replace("button", "");
         $.ajax({
				type : "POST",
				url : "{% url 'DanTalkMain:dantalkDelete' %}",
				data : {
					'csrfmiddlewaretoken': '{{ csrf_token }}',
					'friend_dantalk' : friend_dantalk,
				},
				success : function(response)
				{
					alert("대화방 나가기 완료");
				},
                error : function(request, status, error ){
                    alert("대화방 나가기 실패");
                },
		    });
    }
</script>
</body>