{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'DanTalkMain/css/style.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--나눔 고딕-->
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
<!--오류 발생 알람메시지-->
{% if messages %}
    {% for message in messages %} 
        <script>alert("{{message}}");</script>
    {% endfor %}
{% endif %}
<!--알람 끝-->
<style>
    input[type=text]{
        height : 50px;
    }
</style>
<body style="background-color: #F5F6F7;">
<div id="mainwidth" >
    <nav class="site-header sticky-top" style="background-color:#4d4d4d; padding-top:8px; padding-bottom:8px;">
        <div class="container">
            <div class="row">
                <div class="col-md-2" onclick="location.href='{% url 'DanTalkMain:main' %}'">
                    <label style="color:white; font-size:25px; cursor:pointer;">단톡방</label><label style="font-size:10px; color:white;">BETA</label>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-4" style="padding-top:5px;">
                    {% if request.session.rank == '1' %}
                        <button type="button" class="btn btn-sm" style="background-color:#1E90FF;" onclick="location.href='{% url 'DanTalkMain:admin_main' %}'">관리자</button>
                        <button type="button" class="btn btn-light btn-sm" onclick="location.href='{% url 'DanTalkMain:logout' %}'">로그아웃</button>
                    {% elif request.session.dantalk_id %}
                        <a style="color:#FFFFFF; cursor:pointer;" href="{% url 'DanTalkMain:to_usr_pw_modify' %}">{{request.session.dantalk_id}}님 </a>
                        <button type="button" class="btn btn-sm" style="background-color:#FFFF33;" onclick="location.href='{% url 'DanTalkMain:to_add_friend_list' %}'">친구 관리</button>
                        <button type="button" class="btn btn-sm" style="background-color:#1E90FF;" onclick="location.href='{% url 'DanTalkMain:index' %}'">대화방 관리</button>
                        <button type="button" class="btn btn-light btn-sm" onclick="location.href='{% url 'DanTalkMain:logout' %}'">로그아웃</button>
                    {% else %}
                        <button type="button" class="btn btn-light btn-sm" style="margin-left:40px;" onclick="location.href='{% url 'DanTalkMain:loginpage' %}'">로그인</button>
                        <button type="button" class="btn btn-sm" style="background-color:#FFFF33;" onclick="location.href='{% url 'DanTalkMain:toSignUp' %}'">회원가입</button>
                    {% endif %}
                </div>
            </div>        
        </div>
    </nav>
    <form name="form_find_usr_id" action="{% url 'DanTalkMain:find_id' %}" method="POST">
    {% csrf_token %}
    <div class="container-fluid" id="find_usr" style="margin-top:150px;">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="row" style="font-size:22px; text-align:center; margin-top:10%;">
                    <div class="col-md-6" style="border-top: 3px solid #FFFF33; border-right: 3px solid #FFFF33; border-left: 3px solid #FFFF33; border-radius:10px 10px 0px 0px; ">
                        <div class="form-group" >
                            <a href="{% url 'DanTalkMain:find_userinfo_id' %}" style="text-decoration:none !important;"><label style="padding-top:3%; color:#000000; cursor:pointer;">아이디 찾기</label></a>
                        </div>
                    </div>
                    <div class="col-md-6" style="border-bottom: 3px solid #FFFF33;">
                        <div class="form-group"  >
                            <a href="{% url 'DanTalkMain:find_userinfo_pw' %}" style="text-decoration:none !important; color:black;"><label style="padding-top:3%; cursor:pointer;">비밀번호 찾기</label></a>
                        </div>
                    </div>
                </div>
                <div style="margin-top:7%;">
                    <div class="form-group" id="find_id-text" style="font-size:20px;">
                        <label>이름</label>
                        <input type="text" id="find_usr_name" name="find_usr_name" class="form-control" maxlength="20" placeholder="">
                    </div>
                    <div class="form-group" id="find_id-text" style="font-size:20px;">
                        <label>이메일 주소</label>
                        <input type="text" id="find_usr_email" name="find_usr_email" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="form-group" style="margin-top:5%; text-align:center;">
                    <button type="button" class="btn" style="width:25%; font-size:20px; border-radius: 10px!important; background-color:#FFFF33" onclick="id_submit()">아이디 찾기</button>
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    </form>
</div>
    <script>
        function showLoadingMask(){
            var h = $(document).height();
            var w = window.document.body.clientWidth;

            var mask = $("<div id=mask style='position:absolute; z-index:9000; background-color:#000000; display:none; left:0; top:0';></div>");
            var loadingImg = $("<div id='loadingImg' style='position : fixed; left : 47%; top : 30%; z-index : 10000;'><img src={% static 'DanTalkMain/img/loading.gif' %} width : 30px; height : 30px;></div>");
            
            $('body').append(mask).append(loadingImg);
            $("#mask").css({
                'width' : w,
                'height' : h,
                'opacity' : '0.1'
            });

            $("#mask").show();
            $("#loadingImg").show();
        }

        function id_submit(){
            showLoadingMask();
            document.form_find_usr_id.submit();
        }
    </script>
</body>